---
# CSS for everything else
---

@import 'colors';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font: 'Montserrat';
    font-weight: 400;
}
.brick {
    height: 1em;
    widows: 1em;
    background-color: $blue;
}

.title {
    font-weight: 400;
    
}