<!-- Bottom bar -->
<div class="navbar navbar-default navbar-bottom" id="bottom-nav">
    <div class="container-fluid justify-content-center">
        <div class="row">
            <div class="social-media">
                <a href="{{ site.baseurl }}/"><img src="/img/WUCC LOGO.png"></a>
                <a href="{{ site.baseurl }}/contact">
                    Get in touch
                </a>
                <a href="mailto:wucc.consulting@gmail.com" target="_blank">
                    email
                </a> |
                <a href="https://www.facebook.com/WhartonConsulting/" target="_blank">
                    Facebook
                </a> |
                <a href="https://www.instagram.com/scienceolympiadatpenn/" target="_blank">
                    Instagram
                </a>
                <a href="{{ site.baseurl }}/sponsors">
                    Sponsors
                </a>
            </div>
        </div>
    </div>
</div>