<!-- Bottom bar -->
<div class="navbar fixed-bottom" id="bot-nav">

        <a class="offset-md-3" href="{{ site.baseurl }}/contact">Get in touch</a>

        <div class=""><a href=""> <span class="fa-stack fa-lg">
            <i class="fa fa-envelope fa-stack-1x"></i>
            <i class="fa fa-square-o fa-stack-2x"></i>
        </span>Email</a> | <a href=""> <span class="fa-stack fa-lg">
            <i class="fa fa-facebook fa-stack-1x"></i>
            <i class="fa fa-square-o fa-stack-2x"></i>
        </span> Facebook</a> | <a href=""> <span class="fa-stack fa-lg">
            <i class="fa fa-instagram fa-stack-1x"></i>
            <i class="fa fa-square-o fa-stack-2x"></i>
        </span> Instagram</a></div>

        <a class="col-md-3 text-left" href="{{ site.baseurl }}/sponsors">Sponsors</a>
    </div>
</div>