<!-- Responsive Top Navbar -->
<div class="navbar navbar-fixed-top navbar-expand-md" id="top-nav">

    <a class="navbar-brand" href="{{ site.baseurl }}/">
    </a>
    <div class="square"></div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars fa-lg"></i></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarMain">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/about">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/Committee">COMMITTEE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/clients">CLIENT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/events">EVENTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/Sponsorship">SPONSORSHIP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/join">JOIN US</a>
            </li>
        </ul>
    </div>
</div>
